* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #f9f9f9;
    background-size: cover;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #434343;
    height: 60px;
}

.navbar .logo a {
    font-weight: 900;
    font-size: 2.2em;
    padding: 20px;
    color: #f9f9f9;
    text-decoration: none;
    margin-top: 20px;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
}

.menu li {
    position: relative;
}

.menu input[type="radio"] {
    display: none;
}

.menu label {
    color: #a2a2a2;
    text-decoration: none;
    padding: 20px;
    word-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.menu input[type="radio"]:checked+label {
    color: #606060;
    padding: 20px 20px;
    border-radius: 5px;
}

.menu li a {
    color: #f9f9f9;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 18px;
    word-spacing: 1px;
    transition: 0s;
    font-size: 16px;
    width: 72.1389px;
    height: 39.5556px;
}

.cover-header {
    position: relative;
    text-align: center;
}

.cover-header img {
    max-width: 100%;
    display: block;
    width: 1580px;
    height: 250px;
    image-resolution: 300dpi;
    opacity: 0.6;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    font-weight: 1500px;
}

.header-text h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 2000;
    text-align: left;
    color: #434343;
    padding: 20px;
}

.divider {
    width: 98%;
    border-top: 1px solid #afafaf;
    margin: 18px 0;
    text-align: center;
}

.sidebar {
    float: left;
    margin-left: 225px;
    margin-right: 30px;
    margin-top: 40px;
}

.main-content {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
}

.content {
    color: #434343;
    font-weight: 600;
    font-size: 40px;
    vertical-align: baseline;
    text-align: left;
    margin-top: 0;
}

h1 {
    text-align: left;
    font-size: 50px;
    font-family: 'Karla', sans-serif;
    font-weight: 5000;
    margin-top: 0;
}

.author {
    text-align: left;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
    font-weight: 200;
    margin-top: 2px;
    margin-bottom: 3px;
}

.first-part {
    background-color: transparent;
    border: none;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 12px;
    margin-top: 0;
    margin-right: 60px;
    padding: 0;
    text-align: justify;
    white-space: normal;
    font-size: 14pt;
}

.spotify {
    height: 1000px;
    width: 600px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.first-ender {
    text-align: right;
    background-color: transparent;
    border: none;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 920px;
    margin-top: 0;
    margin-right: 40px;
    padding: 0;
    text-align: justify;
    white-space: normal;
    font-size: 16pt;
}

.second-ender {
    text-align: left;
    background-color: transparent;
    border: none;
    line-height: 1.5;
    margin-bottom: 0;
    margin-left: 357px;
    margin-top: 0;
    margin-right: 75px;
    padding: 0;
    white-space: normal;
    font-size: 12pt;
    font-weight: thin;
}

footer {
    background-color: #f9f9f9;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Karla', sans-serif;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    align-items: center;
    margin-left: 225px;
    flex-wrap: wrap;
}

.social-icons img {
    width: 51px;
    height: 51px;
    margin-right: 30px;
}

.contact-info {
    margin-left: 20px;
}

.contact-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.contact-row span {
    font-size: 16px;
    color: #434343;
}

.footer-right {
    text-align: right;
    flex: 1;
    padding-right: 20px;
}

.footer-right p {
    color: #434343;
    font-size: 18px;
    margin-right: 250px;
    font-weight: 200;
}